h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.back{
    margin-top: 40px;
    margin-left: 70px;
}

table{
    margin-bottom: 70px;
}

tbody tr:hover{
    cursor: pointer;
    font-weight: 500;
    color: #9c2e1d;
}