<app-spinner *ngIf="showSpinner"></app-spinner>

<div *ngIf="podania && podania.length > 0">

<h2>Podania</h2>



<table *ngIf="podania && podania.length" class="table">
    <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Kod kursu zamienianego</th>
        <th scope="col">Kody zamienników</th>
        <th scope="col">Imię studenta</th>
        <th scope="col">Nazwisko studenta</th>
        <th scope="col">Nr indeksu</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let podanie of podania;let i =index" routerLink="/opiniowanie/{{podanie.id}}" >
        <th scope="row">{{podanie.id}}</th>
        <td>{{podanie.zamieniany.kod}}</td>  
        <td><p *ngFor="let zamiennik of podanie.zamienniki">{{zamiennik.kod}}</p></td> 
        <td>{{podanie.student.imie}}</td>
        <td>{{podanie.student.nazwisko}}</td>
        <td>{{podanie.student.nr_index}}</td>
      </tr>
    </tbody>
  </table>
</div>

<h2 *ngIf="showBrak">Aktualnie brak podań.</h2>

  <!-- <ng-template id="empty" #empty >Nie ma żadnych podań</ng-template> -->